
<nb-layout>
  <nb-layout-column>
    <p>
      {{selectedStory}} Story
    </p>
    <nb-select id="selection" placeholder="Select Showcase" [(ngModel)]="selectedAnswer">
      <nb-option *ngFor="let answer of selectableAnswers" [value]="answer.answerMessage">{{answer.answerMessage}}</nb-option>
    </nb-select>

    <nb-chat title="Drag & Drop chat" size="giant">
  <nb-chat-message *ngFor="let msg of messages"
                   [type]="msg.type"
                   [message]="msg.text"
                   [reply]="msg.reply"
                   [sender]="msg.user.name"
                   [date]="msg.date"
                   [files]="msg.files"
                   [avatar]="msg.user.avatar">
  </nb-chat-message>
  <nb-chat-form (click)="sendAnswers()" (send)="sendMessage($event)" [dropFiles]="true"></nb-chat-form>
</nb-chat>
</nb-layout-column>

</nb-layout>
