.parentContainer {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.chat {
  border-style: solid;
  width: 40%;
  height: 80vh;
  display: inline-block;
}

#selection {
  width: 960px;
  height: 40px;
  z-index: 2;
  position: absolute;
  left: 767px;
  top: 732px;
}

button {
  height: 40px;
  width: 50px;
  position: absolute;
  left: 1112px;
  top: 732px;
  z-index: 2;
  padding-left: 2px;
  padding-right: 2px;
  background-color: dodgerblue;
}
mat-icon{
    color: white;
}

::ng-deep nb-layout-column {
  justify-content: center;
  display: flex;
}
nb-chat {
  width: 500px;
  height: 80vw;
  justify-content: center;
}

::ng-deep nb-chat-form.div {

}
