<mat-tab-group>
  <mat-tab label="Persönliche Statistik">
    <table mat-table [dataSource]="personalDataSource" class="mat-elevation-z8">

      <!-- Story -->
      <ng-container matColumnDef="story">
        <th mat-header-cell *matHeaderCellDef> Story </th>
        <td mat-cell *matCellDef="let element"> {{element.scenarioName}} </td>
      </ng-container>

      <!-- UserID -->
      <ng-container matColumnDef="userID">
        <th mat-header-cell *matHeaderCellDef> UserID </th>
        <td mat-cell *matCellDef="let element"> {{element.userID}} </td>
      </ng-container>

      <!-- Gespielte Zeit -->
      <ng-container matColumnDef="playedTime">
        <th mat-header-cell *matHeaderCellDef> Gespielte Zeit </th>
        <td mat-cell *matCellDef="let element"> {{element.playedTime + ' ' + element.timeUnit}}  </td>
      </ng-container>

      <!-- Besuchte Knoten -->
      <ng-container matColumnDef="visitedNodes">
        <th mat-header-cell *matHeaderCellDef> Anzahl besuchter Knoten </th>
        <td mat-cell *matCellDef="let element"> {{element.visitedNodes}} </td>
      </ng-container>

      <!-- Gespielte Spiele -->
      <ng-container matColumnDef="numberOfGames">
        <th mat-header-cell *matHeaderCellDef> Spiel ID </th>
        <td mat-cell *matCellDef="let element"> {{element.gameID}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-tab>
  <mat-tab label="Generelle Statistik">
    <table mat-table [dataSource]="generalDataSource" class="mat-elevation-z8">

      <!-- Story -->
      <ng-container matColumnDef="story">
        <th mat-header-cell *matHeaderCellDef> Story </th>
        <td mat-cell *matCellDef="let element"> {{element.scenarioName}} </td>
      </ng-container>

      <!-- UserID -->
      <ng-container matColumnDef="userID">
        <th mat-header-cell *matHeaderCellDef> GespielteSpiele </th>
        <td mat-cell *matCellDef="let element"> {{amountOfPlayers}} </td>
      </ng-container>

      <!-- Gespielte Zeit -->
      <ng-container matColumnDef="playedTime">
        <th mat-header-cell *matHeaderCellDef> Gespielte Zeit </th>
        <td mat-cell *matCellDef="let element"> {{element.playedTime + ' ' + element.timeUnit}}  </td>
      </ng-container>

      <!-- Besuchte Knoten -->
      <ng-container matColumnDef="visitedNodes">
        <th mat-header-cell *matHeaderCellDef> Anzahl besuchter Knoten </th>
        <td mat-cell *matCellDef="let element"> {{element.visitedNodes}} </td>
      </ng-container>

      <!-- Gespielte Spiele -->
      <ng-container matColumnDef="numberOfGames">
        <th mat-header-cell *matHeaderCellDef> Anzahl gespielter Spiele </th>
        <td mat-cell *matCellDef="let element"> {{element.numberOfGames}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-tab>
</mat-tab-group>
