<mat-toolbar>
  <!-- The buttons for the navigation -->
  <nav>
    <div class="flex-container">
      <div>
        <button class="toolbar-button" mat-button matTooltip="Home" routerLink="home" routerLinkActive="active">
          <mat-icon>
            home
          </mat-icon>
        </button>
        <button class="toolbar-button" mat-button matTooltip="Statistics" routerLink="statistics"
                routerLinkActive="active">
          <mat-icon>
            trending_up
          </mat-icon>
        </button>
      </div>

      <span class="toolbar-title" routerLink="home" routerLinkActive="active">BlackBox</span>

      <button class="toolbar-button" mat-button matTooltip="Logout" routerLink="logout"
              routerLinkActive="active">
        <mat-icon>
          power_settings_new
        </mat-icon>
      </button>
    </div>
  </nav>

</mat-toolbar>

<router-outlet></router-outlet>

