<mat-toolbar>
  <span>BlackBox</span>

  <!-- The buttons for the navigation -->
  <nav>
    <button class="toolbar-button" mat-button routerLink="home" routerLinkActive="active" matTooltip="Home">
      <mat-icon>
        home
      </mat-icon>
    </button>

    <!-- Following elements float right -->
    <button mat-button class="float-right toolbar-button" routerLink="statistics" routerLinkActive="active" matTooltip="Statistics">
      <mat-icon>
        trending_up
      </mat-icon>
    </button>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>

